@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Outfit:wght@100&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240, 45%, 98%;
  --foreground: #f6f5f2;
  --sidebar: 213, 24%, 16%;
  --sidebar-foreground: 213, 20%, 23%;
  --card: #fafbfd;
  --card-foreground: #2e3441;
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(20 14.3% 4.1%);

  --primary: 214, 57%, 46%;
  --primary-foreground: 210, 15%, 95%;

  --secondary: 226, 9%, 28%;
  --secondary-foreground: 230, 25%, 95%;

  --muted: hsl(204, 100%, 99%);
  --muted-foreground: hsl(25 5.3% 44.7%);

  --accent: 200, 33%, 98%;
  --accent-foreground: 214, 20%, 16%;

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(60 9.1% 97.8%);
  --text: 203, 3%, 46%;
  --border: 224, 15%, 85%;
  --input: 225, 33%, 98%;
  --ring: hsl(220, 14%, 4%);
  --radius: 0.5rem;
}

p {
  @apply text-text text-[13px] text-center;
}

.account_style {
  @apply px-4 py-[5px] text-[13px] placeholder:text-[13px] placeholder:text-gray-500 rounded-md border focus:outline-none;
}

.account_label {
  @apply text-[14px] font-normal text-gray-700;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 100%;
  background: rgb(174, 174, 174);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #717578;
  border-radius: 20px;
}

.myAppGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-content: start;
  align-items: start;
}

.transparentBg {
  background-color: #252e361b;
  backdrop-filter: blur(5px);
}

.popupPasswrodBox {
  background: #ffffffe8;
  backdrop-filter: blur(20px);
}

.setPasswordBg {
  /* background: #366ebc; */
  backdrop-filter: blur(20px);
}

.inputbox::placeholder {
  color: #424141e3;
}

.add_password_input {
  @apply rounded-sm border border-border focus:outline-none text-[13px] px-3 py-[9px] w-full;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.bgColorDark {
  background-color: #2269a0e1;
}

.AddPassword {
  color: rgba(var(--main_black), 0.2);
  border: 1px solid #49525bd5;
}

.AddPassword:hover {
  background-color: var(--main_black);
  color: white;
}

.passwordBg {
  background-color: #5f6064cf;
}

.verifyInput:focus + .verifyLabel {
  color: red;
}

.form_input_style {
  @apply px-4 py-[5px] text-[13px] placeholder:text-[13px] placeholder:text-gray-500 rounded-md border focus:outline-none;
}
