@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Outfit:wght@100&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(214, 219, 220);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.overflowstyle::-webkit-scrollbar {
  width: 5px;
  height: 100%;
  background: rgb(174, 174, 174);
  border-radius: 10px;
}

.overflowstyle::-webkit-scrollbar-thumb {
  background: #717578;
  border-radius: 20px;
}

.myAppGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-content: start;
  align-items: start;
}

.transparentBg {
  background-color: #6a6a8f4d;
  backdrop-filter: blur(5px);
}

.popupPasswrodBox {
  background: #fffffff2;
  backdrop-filter: blur(20px);
}

.setPasswordBg {
  /* background: #366ebc; */
  backdrop-filter: blur(20px);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}


.bgColorDark{
  background-color: #2269a0e1;  
}